body,ul,p,h1,h2,h3,dl，dd,form,input,textarea,select{margin:0;padding:0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{color: #333;border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{
	font-family: "PingFangSC-Semibold";
}
*{box-sizing:border-box;}
.clearfix:after{
	clear:both;
	content:"";
	display:table;
}
i{font-style:normal;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
.fl{float:left;}
.fr{float:right;}
img{
	border:none;
	vertical-align:bottom;
}
a{
	text-decoration: none;
	color: #333;
	display:block;
}
input{
	outline:none;
	border:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
.center{text-align:center;}
.block{display:inline-block;}
.none{display:none;}
.color-999{color:#999;}
.p_r{position:relative;}
.p_a{position:absolute;}